In [1]:
import pandas as pd ; import numpy as np

In [3]:
df=pd.DataFrame([[2.4, np.nan],[6.3,-5.4],[np.nan,np.nan],[0.75,-1.3]],
               index=["a","b","c","d"],columns=["bir","iki"])
df

    bir  iki
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [11]:
df.sum(axis="columns")

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [12]:
df.mean(axis=1)

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [13]:
df.mean(axis=1, skipna=False)

a      NaN
b    0.450
c      NaN
d   -0.275
dtype: float64

In [14]:
df.idxmax()

bir    b
iki    d
dtype: object

In [15]:
df

    bir  iki
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [16]:
df.idxmin()

bir    d
iki    b
dtype: object

In [17]:
df.cumsum()

    bir  iki
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [18]:
df.describe()

         bir       iki
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

In [26]:
iris=pd.read_csv("iris.data")
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [40]:
isim=["Canak_yaprak_boyu","Canak_yaprak_eni","Tac_yaprak_eni","Turu"]
iris.reindex(columns=isim)

     Canak_yaprak_boyu  Canak_yaprak_eni  Tac_yaprak_eni  Turu
0                  NaN               NaN             NaN   NaN
1                  NaN               NaN             NaN   NaN
2                  NaN               NaN             NaN   NaN
3                  NaN               NaN             NaN   NaN
4                  NaN               NaN             NaN   NaN
..                 ...               ...             ...   ...
144                NaN               NaN             NaN   NaN
145                NaN               NaN             NaN   NaN
146                NaN               NaN             NaN   NaN
147                NaN               NaN             NaN   NaN
148                NaN               NaN             NaN   NaN

[149 rows x 4 columns]

In [41]:
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [44]:
iris["5.1"].corr(iris["3.5"])

-0.10378414795681824

In [45]:
iris.corr()

          5.1       3.5       1.4       0.2
5.1  1.000000 -0.103784  0.871283  0.816971
3.5 -0.103784  1.000000 -0.415218 -0.350733
1.4  0.871283 -0.415218  1.000000  0.962314
0.2  0.816971 -0.350733  0.962314  1.000000

In [46]:
iris.cov()

          5.1       3.5       1.4       0.2
5.1  0.686568 -0.037279  1.270362  0.515347
3.5 -0.037279  0.187921 -0.316731 -0.115749
1.4  1.270362 -0.316731  3.096372  1.289124
0.2  0.515347 -0.115749  1.289124  0.579566

In [68]:
iris

('ders', 'ses')  5.1  3.5  1.4  0.2     Iris-setosa
0                4.9  3.0  1.4  0.2     Iris-setosa
1                4.7  3.2  1.3  0.2     Iris-setosa
2                4.6  3.1  1.5  0.2     Iris-setosa
3                5.0  3.6  1.4  0.2     Iris-setosa
4                5.4  3.9  1.7  0.4     Iris-setosa
..               ...  ...  ...  ...             ...
144              6.7  3.0  5.2  2.3  Iris-virginica
145              6.3  2.5  5.0  1.9  Iris-virginica
146              6.5  3.0  5.2  2.0  Iris-virginica
147              6.2  3.4  5.4  2.3  Iris-virginica
148              5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [69]:
iris.corrwith(iris.Canak_yaprak_boyu)

AttributeError: 'DataFrame' object has no attribute 'Canak_yaprak_boyu'

In [70]:
s=pd.Series(["b","b","b","b","c","c","a","a","a"])

In [71]:
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object

In [73]:
s.unique()

array(['b', 'c', 'a'], dtype=object)

In [74]:
s.value_counts()

b    4
a    3
c    2
dtype: int64

In [75]:
x=s.isin(["b","c"])
x

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool

In [77]:
s[x]

0    b
1    b
2    b
3    b
4    c
5    c
dtype: object

In [79]:
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object