In [1]:
import pandas as pd

In [4]:
veri=pd.DataFrame({"a":["bir","iki"]*3,"b":[1,1,2,3,2,3]})
veri

     a  b
0  bir  1
1  iki  1
2  bir  2
3  iki  3
4  bir  2
5  iki  3

In [5]:
veri.drop_duplicates()

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [6]:
veri.drop_duplicates()

     a  b
0  bir  1
1  iki  1
2  bir  2
3  iki  3

In [7]:
veri

     a  b
0  bir  1
1  iki  1
2  bir  2
3  iki  3
4  bir  2
5  iki  3

In [8]:
veri["c"]=range(6)

In [9]:
veri

     a  b  c
0  bir  1  0
1  iki  1  1
2  bir  2  2
3  iki  3  3
4  bir  2  4
5  iki  3  5

In [14]:
veri.duplicated(["a","b"], keep="last")

0    False
1    False
2     True
3     True
4    False
5    False
dtype: bool

In [15]:
vs=pd.DataFrame({"isim":["Ali","can","Nur","Efe","ata"],
                "puan":[60,50,70,80,40]})
vs

  isim  puan
0  Ali    60
1  can    50
2  Nur    70
3  Efe    80
4  ata    40

In [16]:
sinif={"Ali":"A","Can":"A","Nur":"B","Efe":"B","Ata":"B"}

In [26]:
ad=vs["isim"].str.capitalize()

In [33]:
vs["sube"]=ad.map(sinif)
vs

  isim  puan  add   ad sube
0  Ali    60  NaN  NaN    A
1  can    50  NaN  NaN    A
2  Nur    70  NaN  NaN    B
3  Efe    80  NaN  NaN    B
4  ata    40  NaN  NaN    B

In [34]:
ad

0    Ali
1    Can
2    Nur
3    Efe
4    Ata
Name: isim, dtype: object

In [97]:
del vs["ad"]

KeyError: 'ad'

In [98]:
vs["isim"]=ad

In [99]:
vs

      puan sube isim
bir     60    A  NaN
iki     50    A  NaN
üç      70    B  NaN
dört    80    B  NaN
beş     40    B  NaN

In [49]:
nt=pd.Series([80,70,90,60])
nt

0    80
1    70
2    90
3    60
dtype: int64

In [50]:
import numpy as np

In [51]:
nt.replace(70,np.nan)

0    80.0
1     NaN
2    90.0
3    60.0
dtype: float64

In [53]:
nt.replace({90:100,60:0})

0     80
1     70
2    100
3      0
dtype: int64

In [54]:
vs

  isim  puan sube
0  Ali    60    A
1  Can    50    A
2  Nur    70    B
3  Efe    80    B
4  Ata    40    B

In [57]:
s=pd.Series(["bir","iki","üç","dört","beş"])
vs.index=vs.index.map(s)

In [58]:
vs

     isim  puan sube
bir   Ali    60    A
iki   Can    50    A
üç    Nur    70    B
dört  Efe    80    B
beş   Ata    40    B

In [67]:
vs["isim"]=ad

In [85]:
ad

0    Ali
1    Can
2    Nur
3    Efe
4    Ata
Name: isim, dtype: object

In [79]:
vs["isim"]=ad

In [82]:
vs

     isim  puan sube
bir   NaN    60    A
iki   NaN    50    A
üç    NaN    70    B
dört  NaN    80    B
beş   NaN    40    B

In [88]:
isimler=pd.Series(["Ali","Can","Nur","Efe","Ata"])
isimler

0    Ali
1    Can
2    Nur
3    Efe
4    Ata
dtype: object

In [92]:
vs["isim"]

In [93]:
vs

      puan sube
bir     60    A
iki     50    A
üç      70    B
dört    80    B
beş     40    B

In [105]:

vs["isim"]=ad.map(isimler)

In [106]:
vs

      puan sube isim
bir     60    A  NaN
iki     50    A  NaN
üç      70    B  NaN
dört    80    B  NaN
beş     40    B  NaN

In [109]:
vs["ss"]=ad.map(isimler)

In [110]:
vs

      puan sube isim   ss
bir     60    A  NaN  NaN
iki     50    A  NaN  NaN
üç      70    B  NaN  NaN
dört    80    B  NaN  NaN
beş     40    B  NaN  NaN

In [111]:
isimler

0    Ali
1    Can
2    Nur
3    Efe
4    Ata
dtype: object

In [112]:
vs=pd.DataFrame({"isim":["Ali","can","Nur","Efe","ata"],
                "puan":[60,50,70,80,40]})
vs

  isim  puan
0  Ali    60
1  can    50
2  Nur    70
3  Efe    80
4  ata    40

In [113]:
sinif={"Ali":"A","Can":"A","Nur":"B","Efe":"B","Ata":"B"}

In [114]:
ad=vs["isim"].str.capitalize()

In [115]:
vs["sube"]=ad.map(sinif)
vs

  isim  puan sube
0  Ali    60    A
1  can    50    A
2  Nur    70    B
3  Efe    80    B
4  ata    40    B

In [116]:
vs["isim"]=ad
vs

  isim  puan sube
0  Ali    60    A
1  Can    50    A
2  Nur    70    B
3  Efe    80    B
4  Ata    40    B

In [117]:
type(ad)

pandas.core.series.Series

In [118]:
puans=pd.Series([10,20,30,40,50])

In [119]:
vs["puan"]=puans

In [120]:
vs

  isim  puan sube
0  Ali    10    A
1  Can    20    A
2  Nur    30    B
3  Efe    40    B
4  Ata    50    B

In [121]:
puanss=pd.Series([60,70,80,90,100])

In [124]:
vs["puan"]=puanss

In [125]:
vs

  isim  puan sube  puans
0  Ali    60    A     60
1  Can    70    A     70
2  Nur    80    B     80
3  Efe    90    B     90
4  Ata   100    B    100

In [126]:
del vs["puans"]

In [127]:
vs

  isim  puan sube
0  Ali    60    A
1  Can    70    A
2  Nur    80    B
3  Efe    90    B
4  Ata   100    B

In [129]:
vs.rename(index=str.title, columns=str.upper)

TypeError: descriptor 'title' for 'str' objects doesn't apply to a 'int' object

In [130]:
s=pd.Series(["bir","iki","üç","dört","beş"])
vs.index=vs.index.map(s)

In [131]:
vs

     isim  puan sube
bir   Ali    60    A
iki   Can    70    A
üç    Nur    80    B
dört  Efe    90    B
beş   Ata   100    B

In [144]:
vs.rename(index=str.title, columns=str.upper,inplace=True)

TypeError: descriptor 'title' for 'str' objects doesn't apply to a 'int' object

In [141]:
vs.rename(index={"bir":1}, columns={"sube":"sınıf"}, inplace=True)

In [142]:
vs

     isim  puan sınıf
1     Ali    60     A
iki   Can    70     A
üç    Nur    80     B
dört  Efe    90     B
beş   Ata   100     B

In [143]:
vs

     isim  puan sınıf
1     Ali    60     A
iki   Can    70     A
üç    Nur    80     B
dört  Efe    90     B
beş   Ata   100     B