In [3]:
import pandas as pd ; import numpy as np

In [4]:
veri=["ali","Berk","DENİz",np.nan,"zEYNEP"]

In [5]:
isim=pd.Series(veri)

In [9]:
isim.str.len()

0    3.0
1    4.0
2    5.0
3    NaN
4    6.0
dtype: float64

In [10]:
df=pd.DataFrame(np.random.randn(3,2),
               columns=["Sütun A","Sütun B"],
               index=range(3))
df

    Sütun A   Sütun B
0 -0.623633 -1.210049
1  1.431494  0.299208
2  1.117780  0.361256

In [11]:
df.columns

Index(['Sütun A', 'Sütun B'], dtype='object')

In [12]:
df.columns.str.upper()

Index(['SÜTUN A', 'SÜTUN B'], dtype='object')

In [13]:
df.columns.str.capitalize()

Index(['Sütun a', 'Sütun b'], dtype='object')

In [14]:
df.columns.str.lower()

Index(['sütun a', 'sütun b'], dtype='object')

In [15]:
df.columns.str.len()

Int64Index([7, 7], dtype='int64')

In [16]:
df.columns.str.lower().str.replace(" ","_")

Index(['sütun_a', 'sütun_b'], dtype='object')

In [19]:
s=pd.Series(["a_b_c","c_d_e",np.nan,"f_g_h"])
s

0    a_b_c
1    c_d_e
2      NaN
3    f_g_h
dtype: object

In [24]:
s.str.split("_").str.get(2)

0      c
1      e
2    NaN
3      h
dtype: object

In [26]:
s.str.split("_").str[2]

0      c
1      e
2    NaN
3      h
dtype: object

In [28]:
    s.str.split("_",expand=True,n=1)

     0    1
0    a  b_c
1    c  d_e
2  NaN  NaN
3    f  g_h

In [29]:
para=pd.Series(["15","-$20","30000"])
para

0       15
1     -$20
2    30000
dtype: object

In [33]:
para.str.replace("-\$","")

<ipython-input-33-b15963b2c6d3>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  para.str.replace("-\$","")

0       15
1       20
2    30000
dtype: object

In [36]:
film

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [37]:
film.title.str.upper()

0                             THE SHAWSHANK REDEMPTION
1                                        THE GODFATHER
2                               THE GODFATHER: PART II
3                                      THE DARK KNIGHT
4                                         PULP FICTION
                            ...
974                                            TOOTSIE
975                        BACK TO THE FUTURE PART III
976    MASTER AND COMMANDER: THE FAR SIDE OF THE WORLD
977                                        POLTERGEIST
978                                        WALL STREET
Name: title, Length: 979, dtype: object

In [39]:
film.columns=film.columns.str.capitalize()

In [40]:
film.columns

Index(['Star_rating', 'Title', 'Content_rating', 'Genre', 'Duration',
       'Actors_list'],
      dtype='object')

In [43]:
film[film.Actors_list.str.contains("Brad Pitt")]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
106,8.3,Snatch.,R,Comedy,102,"[u'Jason Statham', u'Brad Pitt', u'Benicio Del..."
114,8.3,Inglourious Basterds,R,Adventure,153,"[u'Brad Pitt', u'Diane Kruger', u'Eli Roth']"
264,8.1,Twelve Monkeys,R,Mystery,129,"[u'Bruce Willis', u'Madeleine Stowe', u'Brad P..."
508,7.8,The Curious Case of Benjamin Button,PG-13,Drama,166,"[u'Brad Pitt', u'Cate Blanchett', u'Tilda Swin..."
577,7.8,Ocean's Eleven,PG-13,Crime,116,"[u'George Clooney', u'Brad Pitt', u'Julia Robe..."
683,7.7,Fury,R,Action,134,"[u'Brad Pitt', u'Shia LaBeouf', u'Logan Lerman']"
776,7.6,Moneyball,PG-13,Biography,133,"[u'Brad Pitt', u'Robin Wright', u'Jonah Hill']"
779,7.6,Interview with the Vampire: The Vampire Chroni...,R,Horror,123,"[u'Brad Pitt', u'Tom Cruise', u'Antonio Bander..."
807,7.6,The Assassination of Jesse James by the Coward...,R,Biography,160,"[u'Brad Pitt', u'Casey Affleck', u'Sam Shepard']"
826,7.5,Sleepers,R,Crime,147,"[u'Robert De Niro', u'Kevin Bacon', u'Brad Pitt']"
877,7.5,Legends of the Fall,R,Drama,133,"[u'Brad Pitt', u'Anthony Hopkins', u'Aidan Qui..."
901,7.5,Babel,R,Drama,143,"[u'Brad Pitt', u'Cate Blanchett', u'Gael Garc\..."

In [46]:
film.Actors_list.str.replace("[\[\]]","")

<ipython-input-46-b8053ecef64b>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  film.Actors_list.str.replace("[\[\]]","")

0       u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'
1          u'Marlon Brando', u'Al Pacino', u'James Caan'
2      u'Al Pacino', u'Robert De Niro', u'Robert Duvall'
3      u'Christian Bale', u'Heath Ledger', u'Aaron Ec...
4      u'John Travolta', u'Uma Thurman', u'Samuel L. ...
                             ...
974    u'Dustin Hoffman', u'Jessica Lange', u'Teri Garr'
975    u'Michael J. Fox', u'Christopher Lloyd', u'Mar...
976     u'Russell Crowe', u'Paul Bettany', u'Billy Boyd'
977    u'JoBeth Williams', u"Heather O'Rourke", u'Cra...
978    u'Charlie Sheen', u'Michael Douglas', u'Tamara...
Name: Actors_list, Length: 979, dtype: object

In [50]:
film["Title"]

0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: Title, Length: 979, dtype: object

In [51]:
film[["Title","Genre"]]

                                               Title      Genre
0                           The Shawshank Redemption      Crime
1                                      The Godfather      Crime
2                             The Godfather: Part II      Crime
3                                    The Dark Knight     Action
4                                       Pulp Fiction      Crime
..                                               ...        ...
974                                          Tootsie     Comedy
975                      Back to the Future Part III  Adventure
976  Master and Commander: The Far Side of the World     Action
977                                      Poltergeist     Horror
978                                      Wall Street      Crime

[979 rows x 2 columns]

In [54]:
film.loc[0,]

Star_rating                                                     9.3
Title                                      The Shawshank Redemption
Content_rating                                                    R
Genre                                                         Crime
Duration                                                        142
Actors_list       [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
Name: 0, dtype: object

In [55]:
film.loc[[0,2,4],]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [58]:
film.loc[0:5,"Title"]

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                Pulp Fiction
5                12 Angry Men
Name: Title, dtype: object

In [59]:
film.loc[0:5,["Title","Genre"]]

                      Title   Genre
0  The Shawshank Redemption   Crime
1             The Godfather   Crime
2    The Godfather: Part II   Crime
3           The Dark Knight  Action
4              Pulp Fiction   Crime
5              12 Angry Men   Drama

In [61]:
film.loc[:,"Title":"Genre"]

                                               Title Content_rating      Genre
0                           The Shawshank Redemption              R      Crime
1                                      The Godfather              R      Crime
2                             The Godfather: Part II              R      Crime
3                                    The Dark Knight          PG-13     Action
4                                       Pulp Fiction              R      Crime
..                                               ...            ...        ...
974                                          Tootsie             PG     Comedy
975                      Back to the Future Part III             PG  Adventure
976  Master and Commander: The Far Side of the World          PG-13     Action
977                                      Poltergeist             PG     Horror
978                                      Wall Street              R      Crime

[979 rows x 3 columns]

In [64]:
film.loc[film.Genre=="Crime",]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [67]:
film.loc[film.Genre=="Crime","Title":"Duration"]

                        Title Content_rating  Genre  Duration
0    The Shawshank Redemption              R  Crime       142
1               The Godfather              R  Crime       175
2      The Godfather: Part II              R  Crime       200
4                Pulp Fiction              R  Crime       154
21                City of God              R  Crime       130
..                        ...            ...    ...       ...
927                     Brick              R  Crime       110
931              Mean Streets              R  Crime       112
950                     Bound              R  Crime       108
969       Law Abiding Citizen              R  Crime       109
978               Wall Street              R  Crime       126

[124 rows x 4 columns]

In [68]:
film.iloc[:,0].head()

0    9.3
1    9.2
2    9.1
3    9.0
4    8.9
Name: Star_rating, dtype: float64

In [70]:
film.columns

Index(['Star_rating', 'Title', 'Content_rating', 'Genre', 'Duration',
       'Actors_list'],
      dtype='object')

In [72]:
film.iloc[:,[0,3]]

     Star_rating      Genre
0            9.3      Crime
1            9.2      Crime
2            9.1      Crime
3            9.0     Action
4            8.9      Crime
..           ...        ...
974          7.4     Comedy
975          7.4  Adventure
976          7.4     Action
977          7.4     Horror
978          7.4      Crime

[979 rows x 2 columns]

In [73]:
film.iloc[:,0:3]

,Star_rating,Title,Content_rating
0,9.3,The Shawshank Redemption,R
1,9.2,The Godfather,R
2,9.1,The Godfather: Part II,R
3,9.0,The Dark Knight,PG-13
4,8.9,Pulp Fiction,R
...,...,...,...
974,7.4,Tootsie,PG
975,7.4,Back to the Future Part III,PG
976,7.4,Master and Commander: The Far Side of the World,PG-13
977,7.4,Poltergeist,PG
978,7.4,Wall Street,R

In [74]:
film.iloc[0,0:3]

Star_rating                            9.3
Title             The Shawshank Redemption
Content_rating                           R
Name: 0, dtype: object

In [75]:
film.iloc[0:5,0:3]

   Star_rating                     Title Content_rating
0          9.3  The Shawshank Redemption              R
1          9.2             The Godfather              R
2          9.1    The Godfather: Part II              R
3          9.0           The Dark Knight          PG-13
4          8.9              Pulp Fiction              R

In [76]:
film.iloc[0:5,]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [77]:
 film.iloc[0:5,:]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [79]:
film[(film.Duration>=200)&(film.Genre=="Crime")]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."

In [80]:
film[(film.Duration>=200)|(film.Genre=="Crime")]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [81]:
film[(film.Duration>=200)|(film.Genre=="Crime")|(film.Genre=="Action")]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [83]:
film[film.Genre.isin(["Crime","Drama","Action"])]

,Star_rating,Title,Content_rating,Genre,Duration,Actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [ ]:
film[film.Genre.isin(["Crime","Drama","Action"])]