In [1]:
import pandas as pd

In [2]:
nt=[30,80,40,90,60,45,95,75,55,100,65,85]

In [3]:
aralik=[20,40,60,80,100]

In [5]:
puan=pd.cut(nt,aralik)
puan

[(20, 40], (60, 80], (20, 40], (80, 100], (40, 60], ..., (60, 80], (40, 60], (80, 100], (60, 80], (80, 100]]
Length: 12
Categories (4, interval[int64]): [(20, 40] < (40, 60] < (60, 80] < (80, 100]]

In [6]:
puan.codes

array([0, 2, 0, 3, 1, 1, 3, 2, 1, 3, 2, 3], dtype=int8)

In [7]:
puan.categories

IntervalIndex([(20, 40], (40, 60], (60, 80], (80, 100]],
              closed='right',
              dtype='interval[int64]')

In [10]:
 pd.value_counts(puan)

(80, 100]    4
(40, 60]     3
(60, 80]     3
(20, 40]     2
dtype: int64

In [15]:
puan=pd.cut(nt,aralik, right=False)
puan

[[20, 40), [80, 100), [40, 60), [80, 100), [60, 80), ..., [60.0, 80.0), [40.0, 60.0), NaN, [60.0, 80.0), [80.0, 100.0)]
Length: 12
Categories (4, interval[int64]): [[20, 40) < [40, 60) < [60, 80) < [80, 100)]

In [16]:
isim=["düşük","orta","yüksek","tavan"]
pd.cut(nt, aralik,labels=isim)

['düşük', 'yüksek', 'düşük', 'tavan', 'orta', ..., 'yüksek', 'orta', 'tavan', 'yüksek', 'tavan']
Length: 12
Categories (4, object): ['düşük' < 'orta' < 'yüksek' < 'tavan']

In [18]:
pd.cut(nt,10)

[(29.93, 37.0], (79.0, 86.0], (37.0, 44.0], (86.0, 93.0], (58.0, 65.0], ..., (72.0, 79.0], (51.0, 58.0], (93.0, 100.0], (58.0, 65.0], (79.0, 86.0]]
Length: 12
Categories (10, interval[float64]): [(29.93, 37.0] < (37.0, 44.0] < (44.0, 51.0] < (51.0, 58.0] ... (72.0, 79.0] < (79.0, 86.0] < (86.0, 93.0] < (93.0, 100.0]]

In [21]:
import numpy as np
veri=np.random.randn(100)
veri

array([-8.21851860e-01, -1.05475004e+00, -1.22899583e+00,  9.37668483e-01,
        7.57318804e-01,  7.00835470e-01, -1.64833309e+00,  1.45732484e+00,
       -2.20488944e-01, -6.61445817e-01, -5.50895748e-01, -1.99209319e+00,
       -4.66705073e-01,  1.53189319e-01, -1.20616317e+00, -5.00942671e-01,
        9.16621625e-02, -1.81856791e+00, -9.29507665e-01,  1.53326208e+00,
        1.25964358e+00, -1.51559170e+00, -1.49643591e+00,  7.61200138e-01,
       -9.28978980e-01,  2.01963353e-02,  2.55405682e-01, -1.05579962e+00,
       -1.30812713e-01, -2.92294384e-01, -1.01586138e+00,  9.23015359e-01,
       -5.34825778e-01,  8.78783690e-01, -1.57965734e+00,  6.64103299e-01,
       -5.74995413e-01, -9.12436416e-02,  6.15977580e-01, -2.30291528e-03,
        1.92163194e-01,  5.52669527e-01,  4.54238017e-01, -5.78242933e-02,
        5.15534837e-01,  2.81307490e-01, -8.87243624e-01,  2.33636633e-01,
       -1.86176582e+00, -5.79048622e-01,  8.46178952e-01, -8.83449951e-01,
        1.61107686e+00, -1.17953278e+00, -9.71670032e-01, -4.94506196e-01,
       -1.46679582e+00,  1.21988327e+00,  2.06349602e-01,  3.25926431e-01,
        5.02564881e-01,  1.26872822e-01, -1.34160550e-01,  3.96777208e-01,
       -1.72660428e+00,  6.52350944e-02,  1.33648598e-01, -1.85666516e+00,
       -6.52964883e-01,  8.08919203e-01, -6.46231205e-01,  5.53722259e-01,
        7.97496328e-01,  2.71353503e+00, -4.10166525e-01,  4.23958103e-01,
        2.45085647e-01,  1.85611807e-01,  2.55158456e+00, -8.26987267e-01,
       -1.78848672e+00, -7.51257079e-03,  9.83146831e-01, -6.20243514e-01,
       -1.97130662e+00,  2.10198602e-01,  3.51926255e-01, -5.45597307e-01,
       -2.92341755e-01, -1.86014039e+00, -2.25462752e+00, -7.50247602e-02,
       -4.40757167e-01, -5.74295838e-02, -2.66930040e+00,  7.64130638e-01,
       -3.39164912e-01, -1.16062347e+00,  6.27035877e-01,  1.21898832e-01])

In [32]:
x=pd.qcut(veri,10)
x

[(-1.055, -0.656], (-1.055, -0.656], (-1.656, -1.055], (0.883, 2.714], (0.618, 0.883], ..., (0.618, 0.883], (-0.478, -0.0831], (-1.656, -1.055], (0.618, 0.883], (-0.0831, 0.13]]
Length: 100
Categories (10, interval[float64]): [(-2.67, -1.656] < (-1.656, -1.055] < (-1.055, -0.656] < (-0.656, -0.478] ... (0.13, 0.295] < (0.295, 0.618] < (0.618, 0.883] < (0.883, 2.714]]

In [33]:
pd.value_counts(x)

(-2.67, -1.656]      10
(-1.656, -1.055]     10
(-1.055, -0.656]     10
(-0.656, -0.478]     10
(-0.478, -0.0831]    10
(-0.0831, 0.13]      10
(0.13, 0.295]        10
(0.295, 0.618]       10
(0.618, 0.883]       10
(0.883, 2.714]       10
dtype: int64

In [35]:
veri2=pd.DataFrame(np.random.randn(1000,4))
veri2

            0         1         2         3
0   -0.303985  0.853097  0.266856 -0.600683
1   -0.292765  0.704307 -0.086008  1.369085
2   -0.332057 -0.703983  1.008565  0.408513
3   -0.699551 -0.714710 -0.486042 -0.480519
4   -2.546170 -0.379511 -0.742611 -0.266606
..        ...       ...       ...       ...
995 -1.640779 -0.175133  1.178693 -0.072766
996  0.006142  1.286547  0.669144  1.041063
997 -1.974787  1.523584 -0.989154 -1.438708
998  0.933282 -0.691604 -0.207280  0.314520
999  1.487044 -0.161718 -0.259970  0.532729

[1000 rows x 4 columns]

In [37]:
veri2.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.002899     0.093192     0.036117     0.029334
std       0.998398     1.039455     1.010194     0.990097
min      -2.864962    -3.292761    -3.605539    -3.204212
25%      -0.695955    -0.613678    -0.637867    -0.607454
50%      -0.027283     0.068334     0.031882     0.028669
75%       0.654923     0.812269     0.687445     0.720987
max       3.282967     3.852702     3.169559     3.723147

In [38]:
sutun=veri2[1]

In [39]:
sutun[np.abs(sutun)>3]

50     3.221843
246    3.124765
333    3.095056
599    3.162908
739    3.075843
831    3.852702
884   -3.292761
905   -3.130886
Name: 1, dtype: float64

In [41]:
veri2[(np.abs(veri2)>3).any(1)]

            0         1         2         3
22   0.014248 -0.443637 -3.605539 -0.445665
50   0.478248  3.221843  1.419762 -0.731724
127  0.523819  1.845987  3.042201 -0.172551
207  3.153463  1.691295 -1.375264 -0.299942
246 -0.062402  3.124765 -0.787009  0.804685
263  3.154376  0.036767 -1.022061 -0.053916
333 -0.333919  3.095056 -1.388124  0.215732
478  0.563714 -0.771281  2.389160  3.030005
503  1.747795 -0.835429  0.895769 -3.204212
580  0.229349  1.482092  3.116006 -1.884456
599  0.461821  3.162908 -0.139699 -0.352027
610 -0.161454 -0.477951 -0.740710 -3.053984
640  3.130893  0.046880  0.211070 -2.096057
645  0.027512  0.973623  3.009353 -0.289095
739 -0.983366  3.075843 -0.608970 -1.866064
754 -0.884315  0.478131  1.064903  3.361753
796 -0.720003  1.246789  1.518360  3.723147
819  3.282967  1.388257 -0.065442  0.310592
831 -0.398143  3.852702  1.140484 -1.394381
884 -0.681281 -3.292761  1.504073  0.759638
905 -1.801945 -3.130886 -0.144634 -0.844976
925  0.604209 -0.359709  3.169559 -1.178091

In [43]:
np.sign(veri2).head()

     0    1    2    3
0 -1.0  1.0  1.0 -1.0
1 -1.0  1.0 -1.0  1.0
2 -1.0 -1.0  1.0  1.0
3 -1.0 -1.0 -1.0 -1.0
4 -1.0 -1.0 -1.0 -1.0

In [47]:
veri3=pd.DataFrame(np.arange(12).reshape(4,3))
veri3

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [48]:
sira=np.random.permutation(4)
sira

array([3, 0, 2, 1])

In [55]:
veri3.take(sira)

   0   1   2
3  9  10  11
0  0   1   2
2  6   7   8
1  3   4   5

In [56]:
veri3.sample()

   0  1  2
2  6  7  8

In [57]:
veri4=pd.DataFrame({"harf":["c","b","a","b","b","a"],
                    "sayi":range(6)})
veri4

  harf  sayi
0    c     0
1    b     1
2    a     2
3    b     3
4    b     4
5    a     5

In [59]:
pd.get_dummies(veri4["harf"])

   a  b  c
0  0  0  1
1  0  1  0
2  1  0  0
3  0  1  0
4  0  1  0
5  1  0  0

In [61]:
pd.get_dummies(veri4["harf"])

   a  b  c
0  0  0  1
1  0  1  0
2  1  0  0
3  0  1  0
4  0  1  0
5  1  0  0

In [62]:
veri5=np.random.randn(10)
veri5

array([ 0.25173687,  1.12267532,  0.47442095,  0.61634598,  0.53360839,
       -1.88760062, -1.04756375, -1.9185391 ,  1.69766583, -0.04734134])

In [73]:
veri5

array([ 0.25173687,  1.12267532,  0.47442095,  0.61634598,  0.53360839,
       -1.88760062, -1.04756375, -1.9185391 ,  1.69766583, -0.04734134])

In [72]:
pd.get_dummies(pd.cut(veri5,4))

   (-1.922, -1.014]  (-1.014, -0.11]  (-0.11, 0.794]  (0.794, 1.698]
0                 0                0               1               0
1                 0                0               0               1
2                 0                0               1               0
3                 0                0               1               0
4                 0                0               1               0
5                 1                0               0               0
6                 1                0               0               0
7                 1                0               0               0
8                 0                0               0               1
9                 0                0               1               0

In [68]:
x

[(-1.055, -0.656], (-1.055, -0.656], (-1.656, -1.055], (0.883, 2.714], (0.618, 0.883], ..., (0.618, 0.883], (-0.478, -0.0831], (-1.656, -1.055], (0.618, 0.883], (-0.0831, 0.13]]
Length: 100
Categories (10, interval[float64]): [(-2.67, -1.656] < (-1.656, -1.055] < (-1.055, -0.656] < (-0.656, -0.478] ... (0.13, 0.295] < (0.295, 0.618] < (0.618, 0.883] < (0.883, 2.714]]